.About__Center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .Container--About {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }



  .col_1 {
    margin-top: 40px;
  }
  
  img {
    max-width: 100%;
  }
  
  .About-us-title {
    font-size: 24px;
    margin-top: 500px;
  }
  
  .col_2 {
    margin-top: 50px;
    max-width: 800px;
  }
  
  .col_2 h2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  @media screen and (max-width: 768px) {

    .About-us-title {
        font-size: 24px;
        margin-bottom: 1000px;

      }


    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 16px;
    }
  }