.Home{
    background-color: rgb(250, 255, 253);
    display: flex;
    height: 800px;
    padding-top: 85px;
    position: relative;

}

.Home .Container h1{
    margin: 0;
}


.Home .Container{

    left: 2%;
    position: absolute;
    top: 35%;
    color: black;
}


.Home .Container .Hello{

    font-size: 85px;
    padding-right: 20%;

}


h1{

    padding-left: 205px;

}

h2{
    
    padding-left: 200px;
    font-size: 45px;
}

.Home .Header{

    position: absolute;
    height: 743px;
    right: 5%;
    top: 16.5%;
}



.shop-now-btn {
    margin-left: 200px;
    font-size: 18px;
    padding: 10px 35px;
    text-decoration: none;
    font-style: bold;
    background-color: #2898ac;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .shop-now-btn:hover {
    background-color: rgb(10, 105, 85);
    box-shadow: darkblue;
  }
  


@media (max-width : 991px) {


    .Home{
        background-color: rgb(244, 255, 251);
        display: flex;
        height: 480px;
        width: 600px;
        padding-top: 85px;
        position: relative;
        
    }
    .Home .Header{
        height: 430px;
        left: 33%;
        
    }
    .Home h1{

        padding-left: 0.1%;
    }

    .Home .Container .Hello{

        font-size: 40px;
        
    }
    

    .Home h2{

        padding-left: 0.1px;
        font-size: 32px;
    }

    .shop-now-btn {
        margin-left: 0.5px;
    }

        }
        
        @media screen and (max-width: 767px) {
        
            .Home .Header{
                height: 300px;
                left: 33%;
                
            }

            .Home .Container{
                top: 30%;
            }

            .Home .Container h2{
                font-size: 23px;
            }

            .shop-now-btn{
                padding: 6px 25px;
                font-size: 16px;
            }


            
        
        }
        
        @media screen and (max-width: 479px) {
        /* start of phone styles */
        
        }



