.Home{
    background-color: rgb(161, 247, 218);
    display: flex;
    height: 800px;
    padding-top: 85px;
    position: relative;
    border-bottom: 3px solid black;
}

.Home .Container h1{
    margin: 0;
}


.Home .Container{

    left: 2%;
    position: absolute;
    top: 35%;
    color: black;
}


.Home .Container .Hello{

    font-size: 85px;
    padding-right: 20%;

}


h1{

    padding-left: 205px;

}

h2{
    
    padding-left: 200px;
    font-size: 45px;
}

.Home .Header{

    position: absolute;
    height: 743px;
    right: 5%;
    top: 16.5%;
}



.shop-now-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 200px;
    background-color: #a50d0d;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .shop-now-btn:hover {
    background-color: rgb(247, 27, 27);
    box-shadow: none;
  }
  


@media (max-width : 991px) {


    .Home{
        background-color: rgb(161, 247, 218);
        display: flex;
        height: 630px;
        width: 962px;
        padding-top: 85px;
        position: relative;
        border-bottom: 3px solid black;
    }

    .Home .Header{
        height: 600px;
        left: 17%;
    }

    .Home h1{

        padding-left: 0.1%;
    }

    .Home .Container .Hello{

        font-size: 40px;
        
    }

    .Home h2{

        padding-left: 0.1px;
        font-size: 32px;
    }



    @media screen and (max-width: 767px) {
        
        .Home{
            background-color: rgb(161, 247, 218);
            display: flex;
            height: 500px;
            width: 962px;
            padding-top: 85px;
            position: relative;
            border-bottom: 3px solid black;
        }


        .Home .Header{
            height: 490px;
            left: 22%;
        }
        
        }
        
        @media screen and (max-width: 479px) {
    

            .Home .Header{
                height: 490px;
                left: 23%;
                margin: 0;
            }

        
        }


}
